# Ignore data folders
data/
ai/data/

# Ignore large files
*.csv

# Python
__pycache__/
*.pyc
venv/
.venv/

# Node / React
node_modules/
dist/
build/
.env
.env.local
.env.production

# Editor / OS
.DS_Store
.vscode/
